/* Ensure discount flag stays red */
.flags-extra .flag.flag-discount {
    background-color: #e60000;
    line-height: 1.15;
}

/* Emphasize the percentage */
.flags-extra .flag.flag-discount .price-save {
    /* slightly larger than 18px */
    font-weight: 600;
    margin-top: 2px;
    font-size: 16px !important;
}

/* Slightly reduce standard price for contrast */
.flags-extra .flag.flag-discount .price-standard {
    opacity: 0.9;
    font-size: 12px !important;
}
