/* Šípky pre carousel */

#products-4 .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #222;
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  opacity: 0.9;
}

#products-4 .carousel-prev {
  left: -18px;
}

#products-4 .carousel-next {
  right: -18px;
}

/* voliteľné – skryť scrollbar */
#products-4 .hp-carousel-track::-webkit-scrollbar {
  display: none;
}
#products-4 .hp-carousel-track {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
